<div class="footer">
    <div class="footer-column">
        Desarrollado y códificado por Roberto Pérez
    </div>

    <div class="footer-column">
        <p>
            Este contenido está hecho sólo con propósitos educativos y para aprender
            la tecnología web Angular junto con la api de Marvel Comics.
            Todos los derechos reservados para Marvel cómics y sus derivadas empresas.
        </p>
    </div>

    <div class="footer-column">
        @2021 MARVEL
    </div>
</div>

