<div class="home-banner">
    <img src="../../../assets/marvel-banner-wallpaper.png" alt="banner">
</div>

<div class="home-content">
    <h1>BIENVENIDO A MARVEL HERO APP</h1>
    <p>
        ¡Sí eres un fan de los cómics y deseas conocer más sobre el mundo marvel,
        este es el lugar para tí!
    </p>

    <p>
        Podrás navegar y observar todos los personajes de la casa editorial marvel de comics.
        Además de poder conocer los comics más famosos de tus héroes y villanos favoritos.
    </p>
</div>


<h2 class="home-title-navigation">APRENDE MÁS SOBRE MARVEL COMICS</h2>
<div class="home-navigation">
    <div class="home-navigation-comics">
        <h3>CONOCE SUS COMICS</h3>
        <img src="../../../assets/marvel-comics-2.jpg"
             alt="image-comics"
            (click)="navigate('comics')">
    </div>

    <div class="home-navigation-characters">
        <h3>CONOCE SUS PERSONAJES</h3>
        <img src="../../../assets/marvel-comics-3.jpg"
             alt="image-characters"
             (click)="navigate('characters')">
    </div>
</div>

